/* ----全体--------------------------------------------------------- */

body {
    background-color: #6b7b86;
    background-color: #6b7b86;
    // counter-reset:count-number;
}

.wrapperAll {
    position: relative;
}

// header-------------------------------------------------

.header {
    background-color: #6b7b86;
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    // align-items: center;
    &__logo {
        width: 500px;
        width: 280px;
        width: 380px;
        // padding: 15px;
    }

    &__nav-box {
        display: flex;
        height: 70px;
        align-items: center;
    }

    &__nav-item {
        margin-left: 30px;
        display: flex;
        // align-items: center;
    }

    &__nav-icon {
        height: 18px;
        margin-right: 7px;

    }
}
// layout---------------------------------------------------
.layout-box{
    display: grid;
    grid-template:
    " sub1   ...... center ...... sub2  "  
    / 300px 1fr minmax(auto, 900px) 1fr 300px;
    margin-top: 55px;
}
.sub-area1{
    grid-area:sub1;
    padding: 24px 30px;
}
.sub-area2{
    grid-area:sub2;
    padding: 24px 30px;
}
.center-area{
    grid-area:center;
}



.sub-area1__text{
    line-height: 2;
}
// footer---------------------------------------------------

.footer{
    text-align: center;
    padding: 20px;
}