/* ----全体--------------------------------------------------------- */

body {
    background-color: #6b7b86;
    background-color: #6b7b86;
    // counter-reset:count-number;
}

.wrapperAll {
    position: relative;
}

// header-------------------------------------------------

.header {
    background-color: #6b7b86;
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    // align-items: center;
    &__logo {
        width: 500px;
        width: 280px;
        width: 380px;
        // padding: 15px;
    }

    &__nav-box {
        display: flex;
        height: 70px;
        align-items: center;
    }

    &__nav-item {
        margin-left: 30px;
        display: flex;
        // align-items: center;
    }

    &__nav-icon {
        height: 18px;
        margin-right: 7px;

    }
}
// layout---------------------------------------------------
.layout-box{
    display: grid;
    grid-template:
    " sub1   ...... center ...... sub2  "  
    / 300px 1fr minmax(auto, 900px) 1fr 300px;
    margin-top: 55px;
}
.sub-area1{
    grid-area:sub1;
    padding: 24px 30px;
}
.sub-area2{
    grid-area:sub2;
    padding: 24px 30px;
}
.center-area{
    grid-area:center;
}



.sub-area1__text{
    line-height: 2;
}
// footer---------------------------------------------------

.footer{
    text-align: center;
    padding: 20px;
}
// side-area2-------------------------------------------------
.user-rank-title{
    font-size: 18px;
    font-family: SenobiGothic;
    font-weight: 100;
    margin-bottom: 10px;
}
.user-rank-item{
    display: flex;
    // justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom:1px solid rgba(255, 255, 255, 0.5);
}
.user-rank-num{
    width: 20px;
    text-align: center;
    font-size: 16px;
    font-family: SenobiGothic;
    font-weight: 100;
    letter-spacing: -0.15em;
}
.user-rank-icon{
    width: 25px;
    border-radius: 50%;
    margin-left:8px ;
}
.user-rank-name{
    margin-left:15px;
}
.user-rank-point{
    margin-left: auto;
    padding-right: 5px;
}
