@charset "UTF-8";
@font-face {
    font-family: SenobiGothic;
    src: url(/public/font/Senobi-Gothic-Medium-sub.woff2)format("woff");
}
* {
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", Verdana, "メイリオ", Meiryo, sans-serif;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: nomal;
	box-sizing: border-box;
	font-size:13px;
	line-height: 1.5;
	list-style: none;
	color:#ffffff;
	text-decoration: none;
	word-break: break-all;
  }
  a{
      color:#ffffff;
      transition: opacity 0.2s;
      cursor: pointer;
    }
    input[type=submit] {
        /* iosのデフォルトスタイル打消し */
        -webkit-appearance: none;
        border-radius: 0;
    }
    input[type="submit"],label{
        cursor: pointer;
        transition: opacity 0.2s;
    }
    a:hover,input[type="submit"]:hover,label:hover{
        opacity:0.7;
    }
    img{
        max-width: 100%;
    }
.wid100{width:100% !important;}
br{line-height:0;}
.underline{text-decoration:underline}
.relative{position:relative;}
.fw-b{font-weight: bold;}
.tx-c{text-align: center;}
.mt5{margin-top: 5px !important;}
.mt10{margin-top: 10px !important;}
.mt15{margin-top: 15px !important;}
.mt20{margin-top: 20px !important;}
.mt30{margin-top: 30px !important;}
.mt40{margin-top: 40px !important;}
.mt50{margin-top: 50px !important;}
.mt60{margin-top: 60px !important;}
.mt70{margin-top: 70px !important;}
.mt80{margin-top: 80px !important;}
.mt90{margin-top: 90px !important;}
.mt100{margin-top: 100px !important;}
.mt110{margin-top: 110px !important;}
.mt120{margin-top: 120px !important;}
.mb5{margin-bottom: 5px !important;}
.mb10{margin-bottom: 10px !important;}
.mb15{margin-bottom: 15px !important;}
.mb20{margin-bottom: 20px !important;}
.mb30{margin-bottom: 30px !important;}
.mb40{margin-bottom: 40px !important;}
.mb50{margin-bottom: 50px !important;}
.mb60{margin-bottom: 60px !important;}
.mb70{margin-bottom: 70px !important;}
.mb80{margin-bottom: 80px !important;}
.mb90{margin-bottom: 90px !important;}
.mb100{margin-bottom: 100px !important;}
.mb110{margin-bottom: 110px !important;}
.mb120{margin-bottom: 120px !important;}

.contrast{
    image-rendering: -webkit-optimize-contrast;
}
.anchor-link{
    transform:translate(0,-50px);
}